<template lang="pug">
#app
	body.container
		h1 axios.post
		form.form(role='form', onsubmit='return false;')
			.form-group
				label(for='data') JSON
				textarea#data.form-control(rows='5')
			button#post.btn.btn-primary(type='button') POST
		#output.container
		img(src='./assets/logo.png')
		h1 {{ msg }}
		h2 Advice of the day
		p {{advice}}
		h2 Essential Links
		form(action='https://httpbin.org/post', method='post')
			| First name:
			br
			input(type='text', name='firstname', value='Mickey')
			br
			|   Last name:
			br
			input(type='text', name='lastname', value='Mouse')
			br
			br
			input(type='submit', value='Submit')
		ul
			li: a(href='https://vuejs.org', target='_blank') Core Docs
			li: a(href='https://forum.vuejs.org', target='_blank') Forum
			li: a(href='https://gitter.im/vuejs/vue', target='_blank') Gitter Chat
			li: a(href='https://twitter.com/vuejs', target='_blank') Twitter
		h2 Ecosystem
		ul
			li: a(href='http://router.vuejs.org/', target='_blank') vue-router
			li: a(href='http://vuex.vuejs.org/', target='_blank') vuex
			li: a(href='http://vue-loader.vuejs.org/', target='_blank') vue-loader
			li: a(href='https://github.com/vuejs/awesome-vue', target='_blank') awesome-vue
		// FORM om build.js file te uploaden naar LiquidFiles = gemakkelijk !
		form(accept-charset='UTF-8', action='https://transfer.const-court.be/admin/configuration/upload_asset', enctype='multipart/form-data', method='post')
			div
				input(name='utf8', type='hidden', value='✓')
				input(name='authenticity_token', type='hidden', value='brpaG+Znr6hPOSJ2jAKSfvatZMWf6Tag4G/maLZFfA0=')
			strong Add file
			input#asset.file_input(name='asset', type='file')
			input.btn.btn-default.btn-xs(name='commit', style='margin-top: 5px;', type='submit', value='Upload')
</template>

<script>
import axios from 'axios'
export default {
  name: 'app',
  data() {
    return {
      msg: 'Welcome to Your Vue.js App',
      advice: 'coming...'
    }
  },
  created() {
    //let token = document.getElementsByName('csrf-token')[0].getAttribute('content')
		// OK:
    axios.get('/filedrop/dropbox_lars', {
        auth: {
          username: 'pBdmnQ8De4eGLJKlUfvtnn',
          password: 'xxx'
        },
        headers: {
          //'Content-Type': 'text/xml',
          'Content-Type': 'application/x-www-form-urlencoded',
          'X-CSRF-Token': 'iI0SiayQpd/NaawR772zkp3eUsTEuiYP3eioBBHGYp8=',
          'authenticity_token': 'iI0SiayQpd/NaawR772zkp3eUsTEuiYP3eioBBHGYp8=',
          'X-Requested-With': 'XMLHttpRequest'
        },
        credentials: 'same-origin',
        withCredentials: true // send cookie if from same origin URL
      })
      .then(response => {
        //this.advice = response.data.slip.advice
        this.advice = response.data
      })
      .catch(error => {
        this.advice = 'There was an error: ' + error.message
      })
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
