<template lang="pug">
#app
	body.container
		h1 axios.post
		form.form(role='form', onsubmit='return false;')
			.form-group
				label(for='data') JSON
				textarea#data.form-control(rows='5')
			button#post.btn.btn-primary(type='button') POST
		#output.container
	img(src='./assets/logo.png')
</template>

<script>

export default {
  name: 'app',
  data() {
    return {
      msg: 'Welcome to Your Vue.js App2'
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
