doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Li-COPY
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(content='authenticity_token', name='csrf-param')
    meta(content='brpaG+Znr6hPOSJ2jAKSfvatZMWf6Tag4G/maLZFfA0=', name='csrf-token')
  body
    #app
    
